<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Vista de Coches</h1>

    <h2>Marca:<%= resultCar[0].brand %> <%= resultCar[0].surname %></h2>
    <p>modelo:<%= resultCar[0].model %></p>
    <p>color: <%= resultCar[0].color %></p>

    <img src="/images/<%= resultCar[0].img %>" alt="" />
  </body>
</html>
